.search-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}



.searchInput {
  margin-top: 15px;
  border: 2px solid #3498db;
  color: #0f0c0c;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.searchInput:focus {
  border-color: #858d83; 
  outline: none;
}


.searchInput::placeholder {
  color: #777;
}

