.tarjeta {
  display: flex; 
  flex-wrap: wrap; 
  font-size: 0.7em;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  border-radius: 10px;
  margin: auto;
  box-shadow: -2px -5px 10px 2px #fdfeff;
  border-style: hidden;
  margin: auto;
  margin-top: 30px;
  background-size:auto;
  color: black;
  background-color: rgb(176, 177, 245);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw2xKWkrfZfG5oqWjIVXd6LlyJVFC-obWiW6Ikc_TjzRyDK_F8Rt4IbN0_dMaUPr93aA&usqp=CAU");
  justify-content: cover;
}


img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border-style: hidden;
  margin: 5px;
}

h2 {
  display: flex;
  font-size: 1.5em;
  color: rgb(234, 166, 98);
  width: fit-content;
  padding: 2px;
  margin: 2px;
 }
